body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav :hover li:not(:hover) {
  opacity: 0.1;
}

/* blurr effect on carasole text */
.carasoletext {
  background-color: #05040415;
  /* background-b */
}

.container {
  width: 85%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.shoe-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.shoe-card1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.shoe-details {
  flex: 1;
  /* text-align: center; */
  margin-left: 40px;
  margin-right: 40px;
}

.shoe-details h3 {
  margin-top: 0;
}

.shoe-details p {
  margin-bottom: 5px;
}

.add-to-cart {
  text-align: center;
  margin-top: 10px;
}

.add-to-cart button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 10vh;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart button:hover {
  /* box-shadow: 3px 8px 6px #ff0055; */
  outline: 5px solid #3c9f3f;
  outline-offset: 5px;
  transition: 0.3s;
}

/* image card */
.text {
  position: absolute;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.479);
  backdrop-filter: blur(10px);
  z-index: 10;
  transform: translateY(-10000%);
  transition: 0.25s;
}
.img:hover .text {
  transform: translateY(100%);
}
